<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.yedam.board.mapper.BoardMapper">

  <select id="boardList" resultType="board" parameterType="search">
        select rn,
            board_no,
            title,
            content,
            writer,
            view_cnt,
            create_date
        FROM(select /*+INDEX_desc(b board_pk)*/ rownum rn, b.*
            FROM tbl_board b 
            <where>
              <choose>
                <when test="searchCondition == 'T'.toString() ">
                title like '%'||#{keyword}||'%'
                </when>
                <when test="searchCondition == 'W'.toString() ">
                writer like '%'||#{keyword}||'%'
                </when>
                <when test="searchCondition == 'TW'.toString() ">
                (title like '%'||#{keyword}||'%' 
                OR writer like '%'||#{keyword}||'%')
                </when>
              </choose>
              <![CDATA[
              and rownum<=(#{page}*5)
              ]]>
            </where>
            ) a
            WHERE a.rn>(#{page}-1)*5
  </select>
  <select id="getTotalCnt" resultType="int">
	select count(*)
	FROM tbl_board
	<where>
         <choose>
           <when test="searchCondition == 'T'.toString() ">
            title like '%'||#{keyword}||'%'
           </when>
           <when test="searchCondition == 'W'.toString() ">
            writer like '%'||#{keyword}||'%'
           </when>
           <when test="searchCondition == 'TW'.toString() ">
            (title like '%'||#{keyword}||'%' 
           OR writer like '%'||#{keyword}||'%')
           </when>
         </choose>
	</where>
  </select>
  
  <select id="selectBoard" parameterType="int" resultType="board">
   select board_no
          ,title
          ,content
          ,writer
          ,view_cnt
          ,create_date
   FROM tbl_board
   WHERE board_no=#{bno}
  </select>
  <update id="updateCount" parameterType = "int">
     update tbl_board
     set view_cnt=view_cnt+1
     where board_no=#{bno}
  </update>
  <update id="updateBoard" parameterType = "board">
  update tbl_board
  set title=#{title}
      ,content = #{content}
  where board_no=#{boardNo} 
  </update>
  <delete id="deleteBoard" parameterType="int">
  delete tbl_board
  where board_no=#{bno}
  </delete>
  <insert id ="insertBoard" parameterType="board">
  insert into tbl_board (board_no, title, content, writer)
  values (board_seq.nextval, #{title},#{content},#{writer})
  </insert>
</mapper>